<div style="position: absolute; top:0px; width:100%; background-color: pink;">
    <table width="100%">
        <tr>
            <td width="30%">
                
            </td>
            <td width="50%">
                <div style="position:absolute;top:50px; left:550px;"><h1>First APP</h1></div>
            </td>
            <td width="20%">
                <div style="position:absolute; right:0px; background-color: #f0f0f0;"></div>
            </td>
        </tr>
    </table>
</div>